<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 主配置文件 -->
<configuration>
	
	 <settings>
	<!-- 针对mybatis，使用log4j打印日志 -->
		<setting name="logImpl" value="LOG4J"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		
	</settings> 
	
	 <typeAliases>
		<typeAlias type="yyy.pojo.User" alias="User"></typeAlias>
	</typeAliases>
 
	 <plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--使用以下配置，后面会有所有参数  -->
			<!-- 设置使用的数据库方言-->
			<property name="helperDialect" value="mysql" />
		</plugin>
	</plugins>
 
 
</configuration>